<div class="w-[70vw] grid grid-cols-3 gap-6">
    <div class="flex flex-col gap-5">
        <div class="flex items-center gap-4">
            <span class="w-2 h-2 bg-sky-400 rounded-full"></span>
            <p class="text-xl font-bold text-sky-400">01</p>
        </div>
        <h3 class="text-4xl text-sky-400 font-bold">
            Prysoft - Punto De Venta
        </h3>
        <p class="text-2xl">
            Aplicación de gestión de ventas para pequeños comerciantes
        </p>
        <p class="text-gray-400 leading-loose text-lg">
            Lorem Ipsum es simplemente el texto de relleno de las imprentas y
            archivos de texto. Lorem Ipsum ha sido el texto de relleno estándar
            de las industrias desde el año 1500, cuando un impresor (N. del T.
            persona que se dedica a la imprenta)
        </p>
    </div>
    <div class="flex flex-col gap-4 col-span-2">
        <img
            src="/images/img-project-1.jpeg"
            alt="project"
            class="object-contain rounded-md"
        />
        <div class="flex gap-3 justify-center">
            <span
                class="w-3 h-3 rounded-full border-2 bg-sky-400 border-white"
            ></span>
            <span
                class="w-3 h-3 rounded-full border-2 bg-gray-500 border-white"
            ></span>
            <span
                class="w-3 h-3 rounded-full border-2 bg-gray-500 border-white"
            ></span>
            <span
                class="w-3 h-3 rounded-full border-2 bg-gray-500 border-white"
            ></span>
        </div>
        <span class="text-center text-2xl">Control de ventas</span>
    </div>
</div>
